@import 'fonts.css';

body {
    font-family: 'Open Sans';
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: #ffffff;
    padding: 20px 0;
    color: #212121;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #817b7b;
}

/* ------Шапка-------------- */

.header {
    padding: 180px 0;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;
    text-align: center;
    color: white;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
}

.button:hover {
    background: transparent;
    border: 2px solid white;
}

/*--------About us------------*/

.about {
    padding-top: 120px;
    padding-bottom: 125px;
    background: white;
    color: #212121;
    text-align: center;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    font-size: 15px;
    margin-bottom: 110px;
}

.about_h3 {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*-------Our Services--------*/

.services {
    padding-top: 165px;
    padding-bottom: 125px;
    background: #e4fdf9;
    color: #212121;
    text-align: center;
}

.our_card {
    padding: 50px 40px 40px;
    margin-bottom: 30px;
    background: white;
    transition: 0.3s;
}

.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.icon {
    font-size: 60px;
    color: black;
}

.our_card:hover .icon {
    color: white;
    transition: 0.3s;
}

.button-services {
    text-transform: uppercase;
    border: 2px solid black;
    background: transparent;
    padding: 10px 12px 10px;
    font-family: 'Open Sans Semibold';
}

.our_card:hover .button-services {
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

/*------------Portfolio-------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio button:hover,
.focused {
    color: black;
    border: 2px solid #00897b;
    background: transparent;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 120px 0;
}

div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}

/*----------Pricing--------------*/

.pricing {
    padding-top: 155px;
    padding-bottom: 125px;
    color: black;
    background: #f0f1f1;
    text-align: center;
}

.price {
    background: white;
}

.price_head {
    background-image: url(../img/pricing_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 45px;
    padding-bottom: 65px;
    max-height: 211px;
}

.price_head {
    font-size: 50px;
}

.price_head sup {
    font-size: 25px;
    vertical-align: middle;
}

.price_head sub {
    font-size: 17px;
    vertical-align: middle;
}

.price_head p {
    font-size: 25px;
}

.price__body {
    font-size: 17px;
    color: #212121;
}

.price__body ul li {
    border-bottom: 1px solid #bfbfbf;
    max-width: 120px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 11px;
}

.price__footer {
    padding-top: 60px;
    padding-bottom: 63px;
}

.price__footer button {
    border: 2px solid black;
    color: black;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px;
    height: 60px;
}

.price__footer button:hover {
    background: #00897b;
    color: white;
    border-color: #00897b;
    text-transform: uppercase;
}

.team {
    padding-top: 155px;
    padding-bottom: 125px;
    color: black;
    background: white;
    text-align: center;
}

.team h4 {
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    margin-top: 30px;
}

.team p {
    font-size: 15px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a i {
    transition: 0.3s;
}

.icons i:first-child {
    color: #f0f1f1;
}

.icons i:last-child {
    color: #00897b;
}

.icons a:hover i:first-child {
    color: #3949ab;
}

.icons a:hover i:last-child {
    color: #fff;
}

.team img {
    margin: 0 auto;
    max-width: 340px;
}

.multiple-items {
    margin-top: 125px;
}

.dots-style {
    display: flex;
    flex-direction: row;
    margin-top: 115px;
    justify-content: center;
}

.dots-style button {
    background: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.dots-style li[class="slick-active"] button {
    background: #3949ab;
}

.blog-item {
    width: 48%;
 }
 
 .left>div:first-child {
    order: 1;
 }
 
 .left>div:last-child {
    order: 2;
 }
 
 .right>div:first-child {
    order: 2;
 }
 
 .right>div:last-child {
    order: 1;
 }
 
 .blog {
    text-align: left;
    margin-top: 60px;
 }
 
 .blog a {
    font-size: 25px;
    color: #00897b;
    font-family: 'Open Sans Semibold';
 }
 
 .blog div {
    margin-top: 15px;
    margin-bottom: 20px;
 }
 
 .blog span {
    font-size: 17px;
    font-family: 'Open Sans Semibold';
    margin-right: 35px;
 }
 
 .blog i {
    margin-right: 15px;
 }
 
 .blog p {
    font-size: 15px;
 }
 
 .button_blog {
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 125px;
    transition: 0.3s;
    border: 2px solid #00897b;
    cursor: pointer;
    background: #00897b;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
 
 .button_blog:hover {
    background: transparent;
    color: #000;
 }

.footer {
    padding-top: 165px;
    padding-bottom: 125px;
    background: url(../img/footer.png);
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
    font-size: 62px;
    color: white;
}

.circle {
    background: #3949ab;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 35px;
}

.circle + p {
    font-size: 20px;
}

.footer input,
.footer textarea {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.footer input:focus,
.footer textarea:focus {
    outline: none;
}

.footer textarea {
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}

.form {
    margin-top: 70px;
}

.footer button {
    font-size: 20px;
    text-transform: uppercase;
    color: #212121;
    padding: 20px 80px;
    border-radius: 10px;
    outline: none;
}

.footer button:hover {
    opacity: 0.6;
}

.rights {
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
}









